extends layout

block content

    //MAIN
    #mainContainer

    // Wrapper
    #wrapper

        div.panel.panel-default#loginDetails
            h2.panel-heading Login
            .input-group.panelbody
                fieldset
                    input.form-control.input#inputUsername(type='text', placeholder='Username')
                    br
                    input.form-control.input#inputFirstname(type='text', placeholder='First name')
                    br
                    button.btn.btn-primary#btnLogin Login
    // WRAPPER
