extends layout

block content

    //MAIN
    #mainContainer

    // Wrapper
    #wrapper

        div.panel.panel-default#userDetails
            h2.panel-heading Register
            .input-group.panelbody
                fieldset
                    input.form-control.input#inputUsername(type='text', placeholder='Username')
                    br
                    input.form-control.input#inputFirstname(type='text', placeholder='First name')
                    br
                    input.form-control.input#inputLastname(type='text', placeholder='Last name')
                    br
                    input.form-control.input#inputPassword(type='text', placeholder='Password')
                    br
                    button.btn.btn-primary#btnRegister Register account
    // WRAPPER
