extends layout

block content

    // BANNER

    #cookbookBanner
        
        div.panel.panel-default
            h1.panel-heading Contact Information
            p.panel-body Please contact: Kouros Aliabadi at: kaliabadi@qaworks.com for further information.

    // BANNER