extends layout

block content
    // BANNER
    #cookbookBanner
        h1= title
        img(src='../images/background.png')

    //BANNER

    // Wrapper
    #wrapper
    div
        h1 contact information
    
    // WRAPPER
