extends layout

block content

    // BANNER

    #cookbookBanner
        img(src='../images/background.png')
        
        div#content
            h1 Contact Information
            p Please contact: Kouros Aliabadi at: kaliabadi@qaworks.com for further information.

    // BANNER