extends layout

block content

    //MAIN
    #mainContainer
        img(src='../images/newbackground.png')

    //BANNER

    // Wrapper
    #wrapper

        //SEARCH
        #searchButton
            fieldset
                input#inputSearchQuery(type='text', placeholder='What ingredient do you have?')
                button#btnSearch Search
        
        .searchList
            table
                thead
                    th searchTitle
                tbody
        //SEARCH
        

    // WRAPPER
