extends layout

block content
    // BANNER
    #cookbookBanner
        h1= title
        img(src='../images/background.png')

    //BANNER

    // Wrapper
    #wrapper

        // RECIPE DETAILS
        #recipeDetails
            h2 Recipe Details
            p
                strong RecipeName:
                |  <span id='recipeInfoName'></span>
                br
                strong CookingTime:
                |  <span id='recipeInfoCookingTime'></span>
                br
                strong Ingredients:
                |  <span id='recipeInfoIngredients'></span>
                br
                strong Something:
                |  <span id='recipeInfoSomething'></span>
        // /RECIPE DETAILS

        // DOCUMENT LIST
        h2 Recipe List
        #documentList
            table
                thead
                    th RecipeName
                    th CookingTime
                    th Delete?
                tbody
        // /DOCUMENTLIST
    
        // ADD RECIPE
        h2 Add recipe
        #addRecipe
            fieldset
                input#inputRecipeName(type='text', placeholder='Recipe name')
                br
                input#inputCookingTime(type='number', placeholder='Cooking time')
                br
                input#inputIngredients(type='text', placeholder='Ingredients')
                br
                input#inputSomeOtherShit(type='text', placeholder='something')
                br
                button#btnAddRecipe Add Recipe
        // /ADD RECIPE

        //SEARCH
        h2 Search    
        #searchButton
            fieldset
                input#inputSearchQuery(type='text', placeholder='What ingredient do you have?')
                br
                button#btnSearch Search
        
        #searchList
            table
                thead
                    th searchTitle
                tbody
        //SEARCH
        

    // WRAPPER
