extends layout

block content

    // BANNER
    #cookbookBanner
        h1= title
        img(src='../images/background.png')

    //BANNER

    // Wrapper
    #wrapper

        //SEARCH
        #searchButton
            fieldset
                input#inputSearchQuery(type='text', placeholder='What ingredient do you have?')
                button#btnSearch Search
        
        #searchList
            table
                thead
                    th searchTitle
                tbody
        //SEARCH
        

    // WRAPPER
