doctype html
html
  head
    title=  title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    include navbar
    .container

    block content        
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/populateTable.js')
    script(src='/javascripts/recipes.js')
    script(src='/javascripts/search.js')
    script(src='/javascripts/showRecipeDetails.js')