extends layout

block content

    //MAIN
    #mainContainer
        img(src='../images/newbackground.png')


    // BANNER
    #cookbookBanner
        h1= title

    //BANNER

    // Wrapper
    #wrapper

        // RECIPE DETAILS
        #recipeDetails
            h2 Recipe Details
            
            #container-recipeDetails
                strong RecipeName:
                |  <span id='recipeInfoName'></span>
                br
            #container-recipeDetails
                strong CookingTime:
                |  <span id='recipeInfoCookingTime'></span>
                br
            #container-recipeDetails
                strong Ingredients:
                |  <span id='recipeInfoIngredients'></span>
                br
            #container-recipeDetails
                strong Something:
                |  <span id='recipeInfoSomething'></span>
        // /RECIPE DETAILS
    // WRAPPER
