extends layout

block content
    
    //MAIN
    #mainContainer
        img(src='../images/newbackground.png')


    // BANNER
    #cookbookBanner
        h1= title

    // Wrapper
    #wrapper

        // ADD RECIPE
        h2 Add recipe
        #addRecipe
            fieldset
                input#inputRecipeName(type='text', placeholder='Recipe name')
                br
                input#inputCookingTime(type='number', placeholder='Cooking time')
                br
                input#inputIngredients(type='text', placeholder='Ingredients')
                br
                input#inputSomeOtherShit(type='text', placeholder='something')
                br
                button#btnAddRecipe Add Recipe
        // /ADD RECIPE§

        // DOCUMENT LIST
        h2 Recipe List
        #documentList
            table
                thead
                    th RecipeName
                    th CookingTime
                    th Delete?
                tbody
        // /DOCUMENTLIST

        // RECIPE DETAILS
        #recipeDetails.hidden
            h2 Recipe Details
            div
                #container-recipeDetails
                    strong RecipeName:
                    |  <span id='recipeInfoName'></span>
                    br
                #container-recipeDetails
                    strong CookingTime:
                    |  <span id='recipeInfoCookingTime'></span>
                    br
                #container-recipeDetails
                    strong Ingredients:
                    |  <span id='recipeInfoIngredients'></span>
                    br
                #container-recipeDetails
                    strong Something:
                    |  <span id='recipeInfoSomething'></span>
        // /RECIPE DETAILS
    
    // WRAPPER
