extends layout

block content
    
        //MAIN
        #mainContainer
            img(src='../images/newbackground.png')

        //BANNER

        // Wrapper
        #wrapper

            // RECIPE DETAILS
            #recipeDetails
                h2 Recipe Details
                
                #container-recipeDetails
                    strong RecipeName:
                    |  <span id='recipeInfoName'>#{recipeName}</span>
                    br
                #container-recipeDetails
                    strong CookingTime:
                    |  <span id='recipeInfoCookingTime'>#{cookingTime}</span>
                    br
                #container-recipeDetails
                    strong Ingredients:
                    |  <span id='recipeInfoIngredients'>#{ingredients}</span>
                    br
                #container-recipeDetails
                    strong Something:
                    |  <span id='recipeInfoSomething'>#{something}</span>
            // /RECIPE DETAILS
        // WRAPPER
