body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  font-family: sans-serif;
  background-image: url(../images/newbackground.png);
}

a {
  color: #00B7FF;
}

fieldset {
	margin: 0 auto;
}

#wrapper {
	position:relative;
}

#mainContainer {
	position: fixed;
}

#mainContainer img {
	background-size: cover;
	max-width: 100%		
}

.navbar {
	margin-bottom: -20px;
}

#searchButton {
	font-size: 32px;
	padding: 22rem 5rem;
	margin: 0 auto;
}
	#inputSearchQuery {
		font-size: 32px;
		width: 80%;
	}

.searchList.shown {
	position: 0;
	display: inherit;
}

.searchList {
	display: none;
	/*background-color: #d3d3d3;*/
}

/*	.searchList img {
		max-width: 150px;
		max-height: 150px;
	}

	.searchList a {
		text-align: left;
	}

	.searchList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
		width: 100%;
	}
		.searchList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		.searchList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
		.searchList table td {
			background:#FFF;
			padding:5px 10px;
			text-align:center;
		}
		.searchList table tr {
			margin: 4rem;
		}*/

.hidden {
	display: none;
}

.active {
	display: block;
}

#bookBanner {
	width: 80%;
	margin: 10rem;
}

.panel{
	width: 80%;
	margin: 0 auto;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

	.panel-heading {
		margin-top: 0px !important;
	}

.addrecipe.Container {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
}

.input-group {
	width: 100%;
	padding: 1rem;
}

.list-group {
	width: 100%;
}

.recipeResults {
	width: 70%;
	margin: 0 auto;
}

#btnAddRecipe {
	margin-top: 2rem;
}
